files:
    "/etc/httpd/conf.d/enable_mod_deflate.conf" :
        mode: "000644"
        owner: root
        group: root
        content: |
            # mod_deflate configuration
            <IfModule mod_deflate.c>
                # Restrict compression to these MIME types
                AddOutputFilterByType DEFLATE text/plain
                AddOutputFilterByType DEFLATE text/html
                AddOutputFilterByType DEFLATE application/xhtml+xml
                AddOutputFilterByType DEFLATE text/xml
                AddOutputFilterByType DEFLATE application/xml
                AddOutputFilterByType DEFLATE application/xml+rss
                AddOutputFilterByType DEFLATE application/x-javascript
                AddOutputFilterByType DEFLATE text/javascript
                AddOutputFilterByType DEFLATE text/css
                AddOutputFilterByType DEFLATE image/png
                AddOutputFilterByType DEFLATE image/gif
                AddOutputFilterByType DEFLATE image/jpeg
                # Level of compression (Highest 9 - Lowest 1)
                DeflateCompressionLevel 9
                # Netscape 4.x has some problems.
                BrowserMatch ^Mozilla/4 gzip-only-text/html
                # Netscape 4.06-4.08 have some more problems
                BrowserMatch ^Mozilla/4\.0[678] no-gzip
                # MSIE masquerades as Netscape, but it is fine
                BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
                <IfModule mod_headers.c>
                    # Make sure proxies don't deliver the wrong content
                    Header append Vary User-Agent env=!dont-vary
                </IfModule>
            </IfModule>


    "/etc/httpd/conf.d/expires_headers.conf" :
        mode: "000644"
        owner: root
        group: root
        content: |
            #
            # Expires headers
            #
            <IfModule mod_expires.c>
                ExpiresActive on
                ExpiresDefault                                      "access plus 1 week"

              # CSS
                ExpiresByType text/css                              "access plus 1 month"

              # JavaScript
                ExpiresByType application/javascript                "access plus 1 month"
                ExpiresByType application/x-javascript              "access plus 1 month"
                ExpiresByType text/javascript                       "access plus 1 month"

              # Media files
                ExpiresByType audio/ogg                             "access plus 1 month"
                ExpiresByType image/bmp                             "access plus 1 month"
                ExpiresByType image/gif                             "access plus 1 month"
                ExpiresByType image/jpeg                            "access plus 1 month"
                ExpiresByType image/png                             "access plus 1 month"
                ExpiresByType image/svg+xml                         "access plus 1 month"
                ExpiresByType image/webp                            "access plus 1 month"
                ExpiresByType video/mp4                             "access plus 1 month"
                ExpiresByType video/ogg                             "access plus 1 month"
                ExpiresByType video/webm                            "access plus 1 month"
            </IfModule>
