packages:
    yum:
        newrelic-php5: []
    rpm:
        newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
commands:
    300-install-newrelic:
        command: "newrelic-install install"
container_commands:
    300-update-newrelic-ini:
        command: "source .ebextensions/bin/update-newrelic-ini.sh"
